body{
    background: #232323;
    margin:0;
}
h1{
    text-align: center;
    background: steelblue;
    margin: 0;
    padding:10px 0;
    color:white;
    text-transform: uppercase;
}
.square{
    float: left;
    width: 30%;
    margin: 1.66%;
    background: purple;
    padding-bottom:30%;
    border-radius: 15%;
}
.container{
    max-width: 600px;
    margin:5% auto;
}
#outcome{
    display:inline-block;
    width:27%;
    text-align: center;
}
#pannel{
    text-align: center;
    background: white;
    margin:0;
    height:25px;
}
button{
    border:none;
    background: white;
    color:steelblue;
    outline: 0;
    height: 100%;
    text-transform: uppercase;
}
.active{
    background: steelblue;
    color: white;
}
button:hover{
    background: steelblue;
    color: white;
}
